<template>
     <form action="#" @submit.prevent="createContact()">
         <div :class="['form-group', errors.name ? 'has-error' : '']">
            <label for="name">Name:</label>
            <input v-model="contact.name" type="text" class="form-control" name="name" required/>
            <span v-if="errors.name" class="label label-danger">{{ errors.name[0] }}</span>
        </div>
         <div :class="['form-group', errors.email ? 'has-error' : '']">
            <label for="email">Email:</label>
            <input v-model="contact.email" type="email" class="form-control" name="email" required/>
             <span v-if="errors.email" class="label label-danger">{{ errors.email[0] }}</span>
        </div>
        <div :class="['form-group', errors.company ? 'has-error' : '']">
            <label for="company">Company:</label>
            <input v-model="contact.company" type="text" class="form-control" name="company" required/>
            <span v-if="errors.company" class="label label-danger">{{ errors.company[0] }}</span>
        </div>
        <div :class="['form-group', errors.title ? 'has-error' : '']">
            <label for="title">Title:</label>
            <input v-model="contact.title" type="text" class="form-control" name="title" required/>
            <span v-if="errors.title" class="label label-danger">{{ errors.title[0] }}</span>
        </div>
        <div :class="['form-group', errors.birthdate ? 'has-error' : '']">
            <label for="birthdate">Birthdate:</label>
            <input v-model="contact.birthdate" type="date" class="form-control" name="birthdate" required/>
            <span v-if="errors.birthdate" class="label label-danger">{{ errors.birthdate[0] }}</span>
        </div>
        <div class="form-group">
            <label for="is_notify">Is notify? :</label>
            <input v-model="contact.is_notify" type="checkbox" class="form-control" name="is_notify" value="1"/>
        </div>
        <div class="form-group">
            <label for="notification_time">Notification time:</label>
            <span v-for="(item, num) in contact.notification_time">
                                        <span v-if="num == 0">
                                            <input v-model="item.interval" type="number" class="form-control" name="notification_time[interval]" value=item.interval min="1" max="60"/>
                                        </span>
                                        <span v-else-if="num == 1">
                                            <select v-model="item.type" name="notification_time[type]">
                                                <option value="seconds" item.type>seconds</option>
                                                <option value="minutes">minutes</option>
                                            </select>
                                        </span>
                        </span>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</template>

<script>
    export default {
        data(){
            return{
                errors: [],
                contact:{
                    name:'',
                    email:'',
                    company:'',
                    title:'',
                    birthdate:'',
                    is_notify:'',
                    notification_time:[{"interval":"1"},{"type":"minutes"}],
                }
            }
        },
        mounted(){
        },
        computed:{
        },
        methods:{
            async createContact(){
                let path = '/contacts';
                //this.notification_time = [];
                //console.log(this.contact);
                axios.post(path, this.contact).then(response => {
                    console.log(response);
                    if (response.status === 200) {
                        let path = '/contacts/';
                        window.location = path;
                    }
                })
                .catch((error) => {
                    if (! _.isEmpty(error.response)) {
                        console.log(error.response);
                        if (error.response.status === 422) {
                            this.errors = error.response.data.errors;
                        }
                    }
                })
                },
            },
    }
</script>
