<template>
             <table class="table table-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Company</td>
                    <td>Title</td>
                    <td>Birthdate</td>
                    <td>Is notify?</td>
                    <td>Notification time</td>
                    <td colspan="3">Action</td>
                </tr>
                </thead>
                <tbody>
                <tr v-model="allData" v-for="(contact, index) in allData">
                    <td>{{ contact.id }}</td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.company }}</td>
                    <td>{{ contact.title }}</td>
                    <td>{{ contact.birthdate }} ({{ contact.age }} years)</td>
                    <td>
                        <span v-if="contact.is_notify">Yes</span>
                        <span v-else>No</span>
                    </td>
                    <td>
                        <span v-for="(item, num) in contact.notification_time">
                        <span v-if="num == 0">{{ item.interval }}</span>
                        <span v-if="num == 1">{{ item.type }}</span>
                        </span>
                    <td><button class="btn btn-success" @click="showContact(contact.id)">Show</button></td>
                    <td><button class="btn btn-primary" @click="editContact(contact.id)">Edit</button></td>
                    <td><button class="btn btn-danger" @click="deleteContact(contact.id)">Delete</button></td>
                </tr>
                </tbody>
            </table>
</template>

<script>
    export default {
        props:['datafromcontroller'],
        data(){
            //console.log(this.datafromcontroller);
            return{
                allData: JSON.parse(this.datafromcontroller)
            }
        },
        mounted(){
            //console.log(JSON.parse(this.datafromcontroller))
        },
        computed:{
        },
        methods:{
            showContact(id){
                let path = '/contacts/'+id;
                window.location = path;
            },
            editContact(id){
                let path = '/contacts/'+id + '/edit';
                window.location = path;
            },
            async deleteContact(id){
                let path = '/contacts/'+id;
                let response = await axios.delete(path);
                this.allData = response.data;
            },
        }
    }
</script>
