<template>
    <div class="container">
       <hr>
       <div class="row">
           <div class="cols-sm-12">
               <h2>Notificatitions</h2>
               <textarea class="form-control" rows="10" readonly="">{{ messages.join('\n') }}</textarea>
               <hr>
                   <!-- <input type="text" class="form-control" v-model="textMessage" @keyup.enter="sendMessage"> -->
           </div>
       </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                messages: [],
                textMessage: ''
            }
        },
        mounted() {
            //console.log('Component mounted.')
            window.Echo.channel('notification')
                .listen('Message', ({message}) => {
                    console.log(message);
                    this.messages.push(message.body);
                })
        },
        methods: {
            sendMessage() {
                axios.post('/notifications', {body: this.textMessage});
                this.messages.push(this.textMessage);
                this.textMessage = '';
            }
        }
    }
</script>
