<template>
    <div>
        <div>
            <ul class="list-group">
                <li class="list-group-item"><span><b>Name:</b> {{ contact.name}}</span></li>
                <li class="list-group-item"><span><b>Email:</b> {{ contact.email}}</span></li>
                <li class="list-group-item"><span><b>Company:</b> {{ contact.company}}</span></li>
                <li class="list-group-item"><span><b>Title:</b> {{ contact.title}}</span></li>
                <li class="list-group-item"><span><b>Birthdate:</b> {{ contact.birthdate}} ({{ contact.age }} years)</span></li>
                <li class="list-group-item"><span><b>Is notify?:</b> <span v-if="contact.is_notify">Yes</span><span v-else>No</span></span></li>
                <li class="list-group-item">
                    <span><b>Notification time:</b>
                        <span v-for="(item, num) in contact.notification_time">
                                        <span v-if="num == 0">{{ item.interval }}</span>
                                        <span v-else-if="num == 1">{{ item.type }}</span>
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <button class="btn btn-danger" @click="deleteContact(contact.id)">Delete</button>
        </div>
    </div>
</template>

<script>
    export default {
        props:['datafromcontroller'],
        data(){
            console.log(this.datafromcontroller);
            return{
                contact: JSON.parse(this.datafromcontroller),
            }
        },
        mounted(){
        },
        computed:{
        },
        methods:{
            async deleteContact(id){
                let path = '/contacts/'+id;
                let response = await axios.delete(path).then(response => {
                    if (response.status === 200) {
                        let path = '/contacts/';
                        window.location = path;
                    }
                });
            }
        }
    }
</script>
